# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/
jspm_packages/

# Environment files
.env
.env.*
!.env.example

# Build folders
dist
build
coverage
.next
out

# Runtime files
pids
*.pid
*.seed
*.pid.lock

# Cache
.cache
.parcel-cache
.vite
.npm
.eslintcache

# IDE files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# TypeScript
*.tsbuildinfo

# Vercel
.vercel

# Render
.render